p {
    color: black;
}

h1 {
    color: navy;
}

.contenu {
    color: black;
}

.form-qcm {
    max-width: 330px;
    padding: 15px;
    margin: 0px auto;
}

.form-qcm-heading {
    margin-bottom: 10px;
}

.form-qcm .btn {
    margin: 10px 0;
}

.footer {
    padding-bottom: 20px;
    padding-top: 20px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.proposition {
    background: white !important;
}

.enonce {
    background-color: #9BD1F2;
    text-align: center;
    margin-top: 25px;
}

.jumbotron p {
    font-size: 16px;
}

.titre {
    text-align: center;
    background-color: #297FA5;
    color: #F2F2F2;
}

.titre p {
    color: #F2F2F2;
}

.titre-partie {
    text-align: center;
    margin-top: 25px;
    background-color: #6DB4F2;
}

.btn-proposition {
    width:100%;
}

.xmp-proposition {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin: 5px;
}

.panel-default {
    border-color: #93A299;
}

.admin-partie {
    background-color: #6DB4F2;
}