body {
    #background-color: #EEE;
}

p {
    color: black;
}

h1 {
    color: navy;
}

.contenu {
    color: black;
}

.form-qcm {
    max-width: 330px;
    padding: 15px;
    margin: 0px auto;
}

.form-qcm-heading {
    margin-bottom: 10px;
}

.form-qcm .btn {
    margin: 10px 0;
}